<div class="wrapper">
    <div class="emoji-wrapper">
        <img src="../../../assets/terrible-emoji.svg" alt="terrible">
        <br>
        <span>Terrible</span>
    </div>

    <div class="emoji-wrapper">
        <img src="../../../assets/bad-emoji.svg" alt="bad">
        <br>
        <span>Bad</span>
    </div>

    <div class="emoji-wrapper">
        <img src="../../../assets/okay-emoji.svg" alt="okay">
        <br>
        <span>Average</span>
    </div>

    <div class="emoji-wrapper main">
        <img src="../../../assets/good-emoji.svg" alt="good">
        <br>
        <span>Good</span>
    </div>

    <div class="emoji-wrapper">
        <img src="../../../assets/amazing-emoji.svg" alt="amazing">
        <br>
        <span>Amazing</span>
    </div>
</div>