.card{
    width: 700px;
    padding: 10px;
    .example-full-width{
        width: 100%;
    }
    img{
        height: 20px;
    }
    .comment-wrapper{
        padding: 10px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 10px;
        max-height: 70px;
        overflow-y:scroll;
        font-size: 0.90em;
    }
    
    .detailing-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 0.90em;
        .user-wrapper, .product-wrapper{
            border: 1px solid rgb(230, 230, 230);
            padding: 10px;
            width: 45%;
            min-height: 5rem;
        }
    }
}