<div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                {{data.feedbackId}}
            </mat-card-title>
            <mat-card-subtitle>
                {{data.feedbackCreationDate | date:'medium'}}
            </mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
    
        <mat-card-content>
            <p>
                <sup><b>Rating:</b></sup>
                &NonBreakingSpace;
                <span *ngFor="let star of Arr(data.rating)">
                    <img src="../../../assets/star.png" alt="star">
                </span>
                &NonBreakingSpace;
                <sup>({{data.rating}})</sup>
            </p>
            <div>
                <sup><b>Comment:</b></sup>
                <div class="comment-wrapper">
                    {{data.comment.length ? data.comment : "N/A"}}
                </div>
            </div>
    
            <br>
    
            <div class="detailing-wrapper">
                <div class="user-wrapper">
                    <div *ngIf="fetchingUser">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="!fetchingUser">
                        <b>User</b>
                        <mat-divider></mat-divider>
                        <p>{{user.name}} <small class="grey">({{data.userId}})</small></p>
                        <small>{{user.email}}</small>
                    </div>
                </div>

                <div class="product-wrapper">
                    <div *ngIf="fetchingProduct">
                        <mat-spinner></mat-spinner>
                    </div>
                    <div *ngIf="!fetchingProduct">
                        <b>Product</b>
                        <mat-divider></mat-divider>
                        <p>{{product.description}} <small class="grey">({{data.productId}})</small></p>
                        <small>(Avg. Rating {{product.avg_rating}})</small>
                    </div>
                </div>
            </div>
    
            <br>
            <mat-divider></mat-divider>
            <br>
            
            <mat-form-field class="example-full-width">
                <mat-label>Reply to the feedback:</mat-label>
                <textarea matInput [(ngModel)]="response"></textarea>
            </mat-form-field>
        </mat-card-content>
        
        <mat-card-actions align="end">
            <button mat-flat-button *ngIf="enableReply" color="primary" (click)="replyToFeedback()">Reply</button>
            &NonBreakingSpace;
            <button mat-flat-button color="warn" (click)="closeDialog()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>