<!-- <mat-spinner color="accent"></mat-spinner> -->
<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            1
        </mat-card-title>
        <mat-card-subtitle>
            Feb 27, 2023
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Rating: 4</p>
        <p>Comment: I liked the shoes.</p>
        <mat-divider></mat-divider>
        <p>Test User 1</p>
        <mat-form-field class="example-full-width">
            <mat-label>Reply to the feedback:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        
    </mat-card-content>
    
    <mat-card-actions align="end">
        <button mat-flat-button color="primary">Reply</button>
        <!-- <button mat-flat-button color="warn">Close</button> -->
    </mat-card-actions>
</mat-card>