<div class="head">
    <span class="template-reference bold">
        {{templateName}}
        <app-active-badge *ngIf="template?.response?.active"></app-active-badge>
    </span>
    <span class="fr" *ngIf="!template?.response?.active">
        <button mat-flat-button color="primary" (click)="setCurrentTemplateActive()">
            Use this template
        </button>
    </span>
</div>

<div class="main-wrapper">
    <div class="left-box">
        <div class="left-box-option" *ngFor="let section of template?.response?.sections; let left_i = index;" (click)="handleCards(left_i);" [ngClass]="{'selected':left_i===currentIdx}">
            <span class="bold">{{section.title}}</span>
        </div>
    </div>
    <div class="right-box">
        <div *ngFor="let section of template?.response?.sections; let right_i = index;">
            <div *ngIf="right_i===currentIdx">
                <div *ngFor="let qa of section.questions">
                    <span class="bold">{{qa.question}}</span>
                    <app-star-rating *ngIf="qa.answerFormat.type==='starrating'"></app-star-rating>
                    <app-number-rating *ngIf="qa.answerFormat.type==='numberrating'"></app-number-rating>
                    <app-emoji-rating *ngIf="qa.answerFormat.type==='emojirating'"></app-emoji-rating>
                    <app-option-radio *ngIf="qa.answerFormat.type==='radio'" [options]="qa.answerFormat.options!"></app-option-radio>
                    <app-option-checkbox *ngIf="qa.answerFormat.type==='checkbox'" [options]="qa.answerFormat.options!"></app-option-checkbox>
                    <app-feedback-textbox *ngIf="qa.answerFormat.type==='textarea'"></app-feedback-textbox>
                    <app-image-uploader *ngIf="qa.answerFormat.type==='file'"></app-image-uploader>
                </div>
            </div>
        </div>
    </div>
</div>