<div class="head">
    <span class="template-reference bold">
        Template Ref 1
        <app-active-badge></app-active-badge>
    </span>
    <button mat-flat-button color="primary">
        Use this template
    </button>
</div>
<div class="main-wrapper">
    <div class="left-box">
        <div class="left-box-option" (click)="activateProduct()" [ngClass]="{'selected':product}">
            <span class="bold">Product</span>
        </div>
        <div class="left-box-option" (click)="activatePackaging()" [ngClass]="{'selected':packaging}">
            <span class="bold">Packaging</span>
        </div>
        <div class="left-box-option" (click)="activateOverall()" [ngClass]="{'selected':overall}">
            <span class="bold">Overall Satisfaction</span>
        </div>
    </div>
    <div class="right-box">
        <div *ngIf="product">
            <span class="bold">How would you rate our product?</span>
            <app-dummy-rating-component></app-dummy-rating-component>
            <br>
            <span class="bold">Please leave a customer review:</span>
            <app-dummy-textbox-component></app-dummy-textbox-component>
        </div>
        <div *ngIf="packaging">
            <span class="bold">How was the packaging of the shipped order?</span>
            <app-dummy-rating-component></app-dummy-rating-component>
            <br>
            <span class="bold">Did the packaging effectively protect the goods during transit?</span>
            <app-dummy-radio-component></app-dummy-radio-component>
        </div>
        <div *ngIf="overall">
            <span class="bold">How likely would you recommend this product based on your experience?</span>
            <app-experience-bar></app-experience-bar>
        </div>
    </div>
</div>