::-webkit-scrollbar {
    display: none;
}
.head{
    margin-block: 1em;
}
.template-reference{
    font-size: 1.25em;
}
.fr{
    float: right;
}
.selected{
    background-color: white !important;
    border-left: 5px solid #545BFC;
}
.main-wrapper{
    display: flex;
    height: 85%;
    border: 1px solid rgb(220, 220, 200);
    border-radius: 1em;
    overflow: hidden;
    margin-block: 1em;
}
.left-box{
    background-color: #F1F3F6;
    width: 25%;
}
.left-box-option{
    padding: 1.25em 1em 1.25em 1em;
    cursor: pointer;
}
.right-box{
    width: 80%;
    overflow-y: scroll;
    padding: 2em 4em;
    color: rgb(80, 80, 80);
}