<div class="head">
    <span class="template-reference bold">
        {{template.response.templateName}}
        <app-active-badge *ngIf="template?.response?.isActive"></app-active-badge>
    </span>
    <span class="fr">
        <button mat-flat-button color="primary" *ngIf="!template?.response?.isActive">
            Use this template
        </button>
    </span>
</div>

<div class="main-wrapper">
    <div class="left-box">
        <div class="left-box-option" *ngFor="let section of template?.response?.sections; let left_i = index;" (click)="handleCards(left_i);" [ngClass]="{'selected':left_i===currentIdx}">
            <span class="bold">{{section.title}}</span>
        </div>
    </div>
    <div class="right-box">
        <div *ngFor="let section of template?.response?.sections; let right_i = index;">
            <div *ngIf="right_i===currentIdx">
                <div *ngFor="let qa of section.questions">
                    <span class="bold">{{qa.question}}</span>
                    <app-dummy-rating-component *ngIf="qa.answerFormat.type==='rating'"></app-dummy-rating-component>
                    <app-dummy-experience-bar *ngIf="qa.answerFormat.type==='number'"></app-dummy-experience-bar>
                    <app-dummy-radio-component *ngIf="qa.answerFormat.type==='radio'" [options]="qa.answerFormat.options!"></app-dummy-radio-component>
                    <app-dummy-textbox-component *ngIf="qa.answerFormat.type==='textarea'"></app-dummy-textbox-component>
                    <app-dummy-image-uploader *ngIf="qa.answerFormat.type==='file'"></app-dummy-image-uploader>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>