.feedback-table{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}
th{
    background-color: #F1F3F6 !important;
    font-weight: 400 !important;
}
mat-form-field{
    width: 40%;
    padding-inline: 20px;
}
mat-paginator{
    width: 100%;
    margin-block: 5px;
    background-color: transparent;
}       
mat-spinner{
    margin: 0 auto;
}