<h3>Customer Feedbacks</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 feedback-table" matSort>

    <ng-container matColumnDef="feedback_id">
        <th mat-header-cell *matHeaderCellDef>
            <b>Feedback ID</b>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.feedback_id}}
        </td>
    </ng-container>
    <ng-container matColumnDef="product_id">
        <th mat-header-cell *matHeaderCellDef>
            <b>Product ID</b>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.product_id}}
        </td>
    </ng-container>
    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <b>Rating</b>
        </th>
        <td mat-cell *matCellDef="let element">
            <img src="../../../assets/star.svg" alt="star">
            {{element.rating}}
        </td>
    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>
            <b>Comment</b>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.comment.length ? element.comment : "N/A"}}
        </td>
    </ng-container>
    <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <b>Posted</b>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.created_at | date}}
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            <b>Details</b>
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Details" routerLink="feedback/{{element.feedback_id}}">
                <img src="../../../assets/eye.svg" alt="details">
            </button>
            <button 
            mat-icon-button
            color="warn"
            (click)="openFeedbackDetailDialogue(
                element.feedback_id,
                element.created_at
            )"
            matTooltip="Reply"
            >
                <img src="../../../assets/reply.svg" alt="reply">
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayFeedbackColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayFeedbackColumns;"></tr>
</table>

<mat-paginator [length]="10000"
              [pageSize]="100"
              [pageSizeOptions]="[5, 50, 100, 250, 500]"
              #paginator
              >
</mat-paginator>