.feedback-table{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}
th{
    background-color: #F1F3F6 !important;
    font-weight: 500 !important;
}
mat-paginator{
    width: 100%;
    margin-block: 5px;
    background-color: transparent;
}       
mat-spinner{
    margin: 0 auto;
}
img{
    height: 0.75em;
}
.wrapper{
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
}
.filter-wrapper{
    font-size: 0.9em;
}
mat-form-field{
    padding: 0 !important;
    margin: 0 !important;
}