.feedback-table {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

th {
    background-color: #F1F3F6 !important;
}

mat-paginator{
    width: 100%;
    margin-block: 5px;
    background-color: transparent;
}