.example-spacer {
  flex: 1 1 auto;
}
.panel-content-wrapper{
  height: 90vh;
  padding: 20px;
}
.active{
  background-color: rgb(230, 230, 230);
  button{
    background-color: rgb(230, 230, 230);
  }
}