.example-spacer {
  flex: 1 1 auto;
}
.panel-content-wrapper{
  height: 90vh;
  padding: 0px 20px 30px 20px;
  overflow-y: scroll;
}
.active{
  background-color: #1a21dd;
}
.nav-btn{
  background-color: transparent !important;
}
.white{
  color: white !important;
}
.sidenav{
  background-color: #304FFE !important;
  border-top-right-radius: 35px !important;
  border-bottom-right-radius: 35px !important;
}
.logo{
  margin-inline: 1em;
}
::-webkit-scrollbar {
  display: none;
}
