.login-form-wrapper{
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    height: 100vh;
    padding-top: 100px;
    form{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        mat-card{
            text-align: center;
            padding: 30px;
        } 
    }
}