<h3>Default Templates</h3>
<mat-divider></mat-divider>

<div class="category-wrapper">
    <div>
        <span class="bold grey">Product Feedback Templates</span>
    </div>
    <div class="scroller">
        <app-feedback-template-preview-card></app-feedback-template-preview-card>
    </div>
</div>

<div class="category-wrapper">
    <div>
        <span class="bold grey">Service Feedback Templates</span>
    </div>
    <div class="scroller">
        <app-feedback-template-preview-card></app-feedback-template-preview-card>
    </div>
</div>

<div class="category-wrapper">
    <div>
        <span class="bold grey">Delivery Feedback Templates</span>
    </div>
    <div class="scroller">
        <app-feedback-template-preview-card></app-feedback-template-preview-card>
    </div>
</div>