.category-wrapper{
    margin: 2em 0 2em 0;
}
.scroller{
    margin-top: 0.5em;
    overflow-x: scroll;
    padding-bottom: 0.5em;
}
::-webkit-scrollbar {
    display: none;
}
.head{
    text-align: end;
    margin-block: 0.5em;
}
.template-reference{
    font-size: 1.25em;
    float: left;
}