.category-wrapper{
    margin: 2em 0 2em 0;
}
.scroller{
    margin-top: 0.5em;
    overflow-x: scroll;
    padding-bottom: 0.5em;
}
.head{
    margin-block: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.template-reference{
    font-size: 1.25em;
    float: left;
}
.create-icon{
    height: 2em;
    width: 2em;
    margin-inline: 0.5em;
}
.link-button{
    margin-inline: 0.5em;
}
.action-wrapper{
    display: flex;
    align-items: center;
}