.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detail-element{
    margin: 1em 1em;
    min-width: 40%;
}
.icons{
    height: 0.75em;
    margin-inline: 0.25em;
}
mat-card{
    color: rgb(90, 90, 90);
    padding: 10px;
}
.user-feedback-img{
    height: 4em;
    width: 4em;
    margin: 0.5em;
}
textarea{
    resize: none;
}
.example-full-width{
    width: 100%;
}
mat-spinner{
    margin: 20px auto 0 auto;
}
.grey-box{
    border: 1px solid gainsboro;
    border-radius: 1em;
    padding: 1em;
    margin-block: 0.5em;
}
.section-title{
    font-size: 1.25em;
}
.space-adjustment{
    padding: 0.75em;
}