.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.detail-element{
    margin: 1em 1em;
    min-width: 40%;
}
.spacer{
    padding: 0px 5px;
}
.icons{
    height: 0.75em;
}
mat-card{
    color: rgb(100, 100, 100);
    padding: 10px;
}
.user-feedback-img{
    height: 4em;
    width: 4em;
    margin: 0.5em;
}
textarea{
    resize: none;
}
.example-full-width{
    width: 100%;
}
mat-spinner{
    margin: 20px auto 0 auto;
}
.bold{
    font-weight: bold;
}