.emoji-wrapper{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.25em;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    font-size: 0.75em;
    color: rgb(150, 150, 150);
    min-width: 5em;
}
.wrapper{
    display: flex;
}
.main{
    border: 2px solid #304FFE !important;
}