.feedback-table {
    width: 100%;
    overflow: hidden;
    // border-radius: 20px;
}

th {
    background-color: #F1F3F6 !important;
}
.load-all-footer{
    background-color: #E9E9F9;
    color: blue;
    margin-bottom: 0.25em;
    text-align: center;
    cursor: pointer;
    padding-block: 0.5em;
}