<div class="flex-wrapper">
    <mat-card>
      <mat-card-header>
          <mat-card-subtitle>
            Template 62f2344edfr665t
          </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button routerLink="template/1" matTooltip="View Template">
          <img src="../../../assets/eye.svg" alt="view">
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
          <mat-card-subtitle>
            Template 62f2344edfr665t
          </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button routerLink="template/1" matTooltip="View Template">
          <img src="../../../assets/eye.svg" alt="view">
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
          <mat-card-subtitle>
            Template 62f2344edfr665t
          </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button routerLink="template/1" matTooltip="View Template">
          <img src="../../../assets/eye.svg" alt="view">
        </button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card>
      <mat-card-header>
          <mat-card-subtitle>
            Template 62f2344edfr665t
          </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button routerLink="template/1" matTooltip="View Template">
          <img src="../../../assets/eye.svg" alt="view">
        </button>
      </mat-card-actions>
    </mat-card>
</div>