<div class="flex-wrapper">
  <div class="card-container" *ngFor="let template of templates">
    <mat-card class="base" [ngClass]="{'active':template.isActive}">
      <mat-card-header>
        <mat-card-title>
          <span class="bold">{{template.templateName}}</span>
        </mat-card-title>
        <br><br>
      </mat-card-header>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-dummy-experience-bar></app-dummy-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
    </mat-card>
    <div class="middle">
      <button mat-icon-button color="primary" matTooltip="View Template" routerLink="template/{{template.id}}">
        <img src="../../../assets/eye.svg" alt="view">
      </button>
    </div>
  </div>
</div>