<div class="flex-wrapper">

  <div class="card-container">
    <mat-card class="base active">
      <mat-card-header>
        <mat-card-title>
          Default Template 1
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
    </mat-card>
    <div class="middle">
      <button mat-flat-button color="primary" routerLink="template/1" matTooltip="View Template">
        View
      </button>
    </div>
  </div>

  <div class="card-container">
    <mat-card class="base">
      <mat-card-header>
        <mat-card-title>
          Default Template 1
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
    </mat-card>
    <div class="middle">
      <button mat-flat-button color="primary" routerLink="template/1" matTooltip="View Template">
        View
      </button>
    </div>
  </div>

  <div class="card-container">
    <mat-card class="base">
      <mat-card-header>
        <mat-card-title>
          Default Template 1
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <small class="bold">How would you rate your experience?</small>
        <app-experience-bar></app-experience-bar>
        <small class="bold">What more improvements would you suggest?</small>
        <app-dummy-textbox-component></app-dummy-textbox-component>
      </mat-card-content>
    </mat-card>
    <div class="middle">
      <button mat-flat-button color="primary" routerLink="template/1" matTooltip="View Template">
        View
      </button>
    </div>
  </div>

</div>